*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #191825;
}


.cradle{
    width: 50rem;
    height: 50rem;
   
    background-color: transparent;
    border-top: 2rem solid #865dff;
    border-radius: 0.5rem;

    display: flex ;
    justify-content: center;
    gap: 4.5rem;

}

div{
    height: 20rem;
    width: 0.5rem;
    background-color: #865dff;
    position: relative;
}

.cradle div::before{
    content: "";
    position: absolute;
    /* bottom: 0; */
    left: -2.25rem;
    top: 90%;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #865dff;

   
}

.cradle div:first-child{
    animation: left-swing 2s linear infinite;
    transform-origin: top left;
}

.cradle div:last-child{
    animation: right-swing 2s linear infinite;
    transform-origin: top left;
}

@keyframes left-swing {
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 30deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}


@keyframes right-swing {
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: -30deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}