*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #191825;
}

h1 {
    font-size: 48px;
    text-shadow: -3px 10px 10px rgba(249,141,141,0.2);
    color: #865dff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    animation: textfloating 2s linear infinite alternate;
}


@keyframes textfloating {
    
    0%{
        rotate: 15deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: -15deg;
    }
}